/*

0 - 600px     Phone
600 - 900px   Tablet Portrait
900 - 1200px  Tablet Landscape
[1200 - 1800] - normal styles 
1800px+       Big Desktop
*/
/*
$breakpoint choices:
-  phone
-  tab-port
-  tab-land
-  big-desktop
*/
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 0; }
  25% {
    -webkit-transform: scale(1.35);
    opacity: 0.1; }
  50% {
    -webkit-transform: scale(1.7);
    opacity: 0.3; }
  75% {
    -webkit-transform: scale(2.05);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(2.4);
    opacity: 0; } }
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 0; }
  25% {
    -webkit-transform: scale(1.35);
    opacity: 0.1; }
  50% {
    -webkit-transform: scale(1.7);
    opacity: 0.3; }
  75% {
    -webkit-transform: scale(2.05);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(2.4);
    opacity: 0; } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  border: transparent; }

html {
  font-size: 62.5% !important; }
  @media (max-width: 1200px) {
    html {
      font-size: 56.25% !important; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50% !important; } }
  @media (min-width: 1800px) {
    html {
      font-size: 60% !important; } }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

::-webkit-scrollbar {
  display: none; }

.red {
  background-color: orangered; }

.green {
  background-color: greenyellow; }

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 700;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  @supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
    .overlay {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .overlay.show {
    visibility: visible;
    opacity: 1; }

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #fff; }

html {
  font-size: 62.5%; }

.primary-heading {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  margin-bottom: 4rem; }
  .primary-heading--top {
    display: block;
    font-size: 6.6rem;
    font-weight: 600;
    word-spacing: 0.5rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    @media (max-width: 1200px) {
      .primary-heading--top {
        font-size: 3.8rem !important; } }
    @media (max-width: 56.25em) {
      .primary-heading--top {
        font-size: 3.2rem !important; } }
    @media (max-width: 37.5em) {
      .primary-heading--top {
        font-size: 2.1rem !important; } }
    .primary-heading--top-1 {
      color: #7ed56f; }
    .primary-heading--top-2 {
      display: block; }
  .primary-heading--bottom {
    display: block;
    font-size: 2.4rem;
    font-weight: 400;
    color: #eee; }
    @media (max-width: 37.5em) {
      .primary-heading--bottom {
        display: none; } }

.secondary-heading {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  font-size: 3.7rem;
  text-transform: uppercase;
  padding: 2rem 0;
  color: #333;
  font-weight: 700;
  letter-spacing: 3px;
  display: inline-block;
  border-bottom: 3px solid #333; }
  .secondary-heading--white {
    color: #fff;
    border-bottom: 3px solid #fff; }

.tertiary-heading {
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 1px; }

.text {
  color: #333;
  font-size: 2rem;
  text-align: justify; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }
  @media (max-width: 37.5em) {
    .u-margin-bottom-large {
      margin-bottom: 2rem !important; } }

.u-margin-top-large {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-bottom-test {
  margin-bottom: 30rem !important; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1.5rem 6rem;
  display: inline-block;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  @media (max-width: 56.25em) {
    .btn:link, .btn:visited {
      padding: 1.5rem 2.3rem; } }
  @media (max-width: 1200px) {
    .btn:link, .btn:visited {
      padding: 1.5rem 4rem; } }
  @media (max-width: 37.5em) {
    .btn:link, .btn:visited {
      display: inline-block;
      font-size: 1.3rem;
      text-align: center; } }

.btn:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  background-color: #fff; }

.btn:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }

.btn--white {
  background-color: #fff;
  color: #333;
  border: 3px solid transparent;
  margin-right: 2rem; }

.btn--orange {
  background-color: #ff7730;
  color: #fff; }

.btn--clear {
  border: 3px solid #fff;
  color: #fff; }

.btn--gradient {
  color: #333;
  border: 3px solid #333; }
  .btn--gradient-1:hover {
    color: #fff;
    background-color: #333; }

@media (max-width: 37.5em) {
  .header__text-box a {
    width: 100%;
    margin-bottom: 2rem; } }

/*
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  z-index: -1;
  transition: all 0.3s;
}

.btn-white::after {
  background-color: $color-white;
}

.btn:hover::after {
  transform: scaleX(1.3) scaleY(1.6);
  opacity: 0;
}
*/
.panel {
  position: relative;
  height: 56rem;
  width: 90%;
  margin: 0 auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .panel:hover {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem); }
    @media (max-width: 37.5em) {
      .panel:hover {
        -webkit-transform: translateY(0);
        transform: translateY(0); } }
  .panel__side {
    border-radius: 5px;
    height: 56rem;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    overflow: hidden; }
    .panel__side--front {
      background-color: #fff; }
  .panel__image {
    background-size: cover;
    height: 25rem;
    -webkit-clip-path: ellipse(520px 160px at 50% 30%);
    clip-path: ellipse(520px 160px at 50% 30%); }
    .panel__image--1 {
      background-image: url(../img/bumpit.jpg); }
    .panel__image--2 {
      background-image: url(../img/serenity.jpg); }
    .panel__image--3 {
      background-image: url(../img/pig_game.png);
      background-position: center; }
    .panel__image--4 {
      background-image: url(../img/wordpress.png);
      background-position: center; }
  .panel__bg {
    background-color: #29323c;
    display: inline-block;
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
    border-radius: 5px;
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); }
  .panel__text {
    font-family: "Ubuntu", sans-serif;
    padding: 1.5rem 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.8rem;
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: inline-block;
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg); }
  .panel__details {
    margin-top: 3rem;
    text-align: center; }
  .panel__text-box {
    font-size: 1.7rem;
    text-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.2);
    margin-bottom: 3rem;
    color: #29323c; }

.tech-box {
  font-family: "Ubuntu", sans-serif;
  background-color: transparent;
  padding: 2.5rem;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease; }
  .tech-box__icon {
    font-size: 10rem;
    margin-bottom: 1rem; }
  .tech-box:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    background-color: #fff;
    color: #333a6b;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
    @media (max-width: 37.5em) {
      .tech-box:hover {
        -webkit-transform: none;
        transform: none; } }
  .tech-box__text {
    font-size: 1.6rem; }

.menu-bg {
  position: fixed;
  top: 2.2rem;
  right: 2.7rem;
  width: 5.5rem;
  height: 5.5rem;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
  z-index: 1000; }
  @media (max-width: 37.5em) {
    .menu-bg {
      top: 2.4rem;
      width: 5.7rem;
      height: 5.7rem; } }

.menu-btn {
  position: fixed;
  top: 4rem;
  right: 4rem;
  cursor: pointer;
  z-index: 1000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .menu-btn .btn-line {
    width: 3rem;
    height: 3px;
    background-color: #333;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .menu-btn .btn-line:not(:last-child) {
      margin-bottom: 5px; }
  .menu-btn.close {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      -webkit-transform: rotate(45deg) translate(5px, 5px);
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      -webkit-transform: rotate(-45deg) translate(7px, -6px);
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  z-index: 800;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    float: right;
    padding: 0;
    background-color: #29323c;
    list-style: none;
    -webkit-transform: translateX(60rem);
    transform: translateX(60rem);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-shadow: -1rem 0rem 6rem rgba(0, 0, 0, 0.4);
    box-shadow: -1rem 0rem 6rem rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    @media (max-width: 1200px) {
      .menu-nav {
        width: 50%; } }
    @media (max-width: 56.25em) {
      .menu-nav {
        width: 50%; } }
    @media (max-width: 37.5em) {
      .menu-nav {
        width: 40%; } }
    .menu-nav.show {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
  .menu .nav-item {
    -webkit-transform: translateX(60rem);
    transform: translateX(60rem);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .menu .nav-item:not(:last-child) {
      margin-bottom: 5rem; }
    .menu .nav-item.show {
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    .menu .nav-item.current > a {
      color: #55c57a; }
  .menu .nav-link {
    display: inline-block;
    font-size: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 3rem;
    border-radius: 10px;
    color: #fff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, transparent), color-stop(50%, #fff));
    background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 250%; }
    @media (max-width: 37.5em) {
      .menu .nav-link {
        font-size: 2.3rem; } }
    .menu .nav-link:hover {
      color: #333;
      background-position: 100%;
      -webkit-transform: translateX(2rem);
      transform: translateX(2rem); }

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s; }

.nav-item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s; }

.footer {
  background-color: #f7f7f7;
  background-image: linear-gradient(60deg, #29323c, rgba(86, 67, 250, 0.9)), url(../img/ver7.png);
  background-position: bottom;
  text-align: center;
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.4);
  margin-top: -10rem;
  padding: 15rem 0;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%); }
  @media (max-width: 37.5em) {
    .footer {
      -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%); } }
  .footer__logo {
    display: inline-block;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-clip-path: polygon(0 50%, 5% 45%, 0 35%, 9% 27%, 16% 34%, 50% 1%, 100% 50%, 94% 59%, 100% 65%, 90% 79%, 80% 70%, 50% 100%);
    clip-path: polygon(0 50%, 5% 45%, 0 35%, 9% 27%, 16% 34%, 50% 1%, 100% 50%, 94% 59%, 100% 65%, 90% 79%, 80% 70%, 50% 100%); }
    .footer__logo:hover {
      opacity: 0.7; }
  .footer__heading {
    color: #fff;
    font-size: 2.3rem;
    margin-bottom: 2rem;
    font-weight: 600; }
  .footer__img {
    width: 8rem;
    margin: 0 auto;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s; }
    .footer__img:hover {
      opacity: 0.7; }
  .footer__icon {
    font-size: 4rem;
    margin: 0 1rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  .footer__link:hover {
    color: #28b485; }
  .footer__border {
    border-bottom: 3px solid #fff; }
    @media (max-width: 37.5em) {
      .footer__border {
        border: none; } }
  .footer__nav {
    margin-bottom: 6rem; }
  .footer__copy {
    color: #fff;
    margin-top: 3rem;
    font-size: 2rem; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(60deg, #29323c, rgba(86, 67, 250, 0.8)), url(../img/hero_opt.jpg);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80vh);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80vh); }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      height: 100vh; } }
  .header__logo {
    display: inline-block;
    margin-right: 1.5rem; }
    .header__logo-img {
      width: 8rem; }
  .header__brand-box {
    position: absolute;
    top: 40px;
    left: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 37.5em) {
      .header__brand-box {
        display: none; } }
  .header__brand-heading {
    font-family: "Ubuntu", sans-serif;
    font-size: 3rem;
    display: inline-block;
    font-weight: 600;
    text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .header__arrow {
    margin-top: 15rem;
    text-align: center;
    color: #fff; }
    @media (max-width: 37.5em) {
      .header__arrow {
        margin-top: 10rem; } }
  .header__link:link, .header__link:visited {
    color: #fff;
    font-size: 3rem; }
  .header__link:focus {
    outline: none; }
  .header__icon {
    -webkit-animation: pulse 2s ease-in;
    animation: pulse 2s ease-in;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -15vh; }
  .section-about:focus {
    outline: none; }
  @media (max-width: 37.5em) {
    .section-about {
      padding: 20rem 4rem; } }
  .section-about__column-1 {
    margin-left: 6rem; }
    @media (max-width: 56.25em) {
      .section-about__column-1 {
        padding: 0 4rem; } }
    @media (max-width: 37.5em) {
      .section-about__column-1 {
        padding: 0 2rem;
        margin-left: 0rem; } }
  @media (max-width: 56.25em) {
    .section-about__column-2 {
      display: none; } }
  @media (max-width: 1200px) {
    .section-about__column-2 {
      display: none; } }

.section-tech {
  margin-top: -10vh;
  padding: 10rem 0;
  background-image: linear-gradient(60deg, #29323c, rgba(86, 67, 250, 0.9)), url(../img/ver7.png);
  background-size: cover;
  background-position: center; }

.section-work {
  background-color: #f7f7f7;
  padding: 10rem 0; }
  @media (max-width: 37.5em) {
    .section-work {
      padding: 8rem 0; } }

.section-mindset {
  background-color: #eee;
  padding: 15rem 0; }
  @media (max-width: 37.5em) {
    .section-mindset {
      padding: 8rem 2rem; } }

.mindset-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mindset-image {
  height: 30rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 37.5em) {
    .mindset-image {
      margin: 0 auto;
      height: 20rem; } }
  .mindset-image--1 {
    margin-left: 20rem; }
    @media (max-width: 37.5em) {
      .mindset-image--1 {
        margin: 0 auto; } }
  @media (max-width: 37.5em) {
    .mindset-image--2 {
      margin: 0 auto;
      display: none; } }
  .mindset-image--3 {
    margin-left: 20rem; }
    @media (max-width: 37.5em) {
      .mindset-image--3 {
        margin: 0 auto;
        margin-bottom: 3rem; } }
